

@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Ysabeau Infant', sans-serif;
}

.container {
  @apply max-w-[1440px];
}
.MuiButtonBase-root {
  @apply !text-white;
}

.Mui-selected {
  @apply !bg-red-600;
}
.MuiPaginationItem-circular {
  @apply text-white;
}

.MuiCircularProgress-svg{
  @apply !text-red-500
}